body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  /* background-image: url("./assets/background.svg"); */
  /* background-image: url("./assets/bg.webp"); */
  background-image: url("./assets/bg3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(100px);
  z-index: -1;
  pointer-events: none;
}

.neon-text {
  filter: drop-shadow(0 0 5px --color-primary) drop-shadow(0 0 10px --color-secondary) drop-shadow(0 0 20px #00ffff);
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
}

.parallax-effect {
  transform-style: preserve-3d;
  transition: all 0.125s ease-in-out;

  :hover {
    filter: drop-shadow(0 0 5px var(--color-primary)) drop-shadow(0 0 10px var(--color-secondary)) drop-shadow(0 0 20px #00ffff);
  }

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }
}

footer {
  background: url("./assets/footer-image-zepto.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #010103;
}